@using WebApp.Const
@using WebApp.Resource
@model WebApp.Models.CreateEditOrderModel

@* Header *@
<div class="row">
   <div class="col-lg-12 text-center">
      <h3 class="mt-5">@Plain.VehicleConfiguratorH1</h3>
   </div>
</div>

@* Loading indicator *@
<div id="div-loading" class="">
   <div class="col-lg-12 text-center">
      <div class="mt-5">@(Plain.Loading)&nbsp;<div class="load-indicator-image"></div></div>
   </div>
</div>

<div id="div-main" style="display: none">
   @Html.Partial(ViewNames.Order.Page1)

   @Html.Partial(ViewNames.Order.Page2)

   @Html.Partial(ViewNames.Order.Page3)
</div>

@section Scripts {

   @Scripts.Render("~/bundles/configurator")
   @Scripts.Render("~/bundles/jqueryval")
   @Scripts.Render("~/bundles/configurator")
   @Scripts.Render("~/Scripts/viewmodel.js")

    @Html.Partial(ViewNames.Order.Templates)

    <script type="text/javascript">
        $(function() {
            var viewModel = new ViewModel("@Model.Id");
            viewModel.apply();
        });
    </script>
}