@using System.Globalization
@using System.Web.Optimization
@using WebApp.Config
@using WebApp.Const
@using WebApp.Resource
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Plain.Title</title>
    @Styles.Render(new WebApp.Config.Theme().CssFileName)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

<div class="container body-content">
   @RenderSection("featured", required: false)

   @* Error & warnings area *@
   <div class="alert alert-danger" role="alert" id="main-error" style="display:none"></div>
   <div class="alert alert-warning" role="alert" id="main-warning" style="display:none"></div>

   @RenderBody()
   <hr/>
   <footer>
       <p>@Plain.Trademark</p>

       <div>
           @Html.ActionLink(Plain.ThemeDark, ActionNames.Theme.Index, ControllerNames.Theme, new {id = Theme.ConfiguratorThemeId.Dark}, null)&nbsp;
           &nbsp;
           @Html.ActionLink(Plain.ThemeLight, ActionNames.Theme.Index, ControllerNames.Theme, new {id = Theme.ConfiguratorThemeId.Light}, null)&nbsp;
           &nbsp;
           @foreach (var language in new[] { "en", "de", "ru" })
           {
             <a class="language" href="#" onclick="Tools.changeLang('@language')"><img src="~/Content/languages/@(language).png" alt="@language" /></a>
           }
       </div>
</footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/Scripts/Dynamic/configuration.js")
@Scripts.Render($"~/Scripts/Dynamic/plain.{System.Threading.Thread.CurrentThread.CurrentUICulture.Name}.js")
@Scripts.Render("~/bundles/knockout")
@RenderSection("scripts", required: false)
</body>
</html>
